{{#each errors}}
<div class="alert alert-danger">{{errMessage}}</div>

{{else}}

{{/each}}

<div class="card card-body">
    <h3>我的愿望</h3>
    <form action="/gifts/{{giftEdit.id}}?_method=PUT" method="post">
        <input type="hidden" name="_method" value="PUT">
        <div class="form-group">
            <label for="title">标题</label>
            <input type="text" class="form-control" name="giftTitle" value="{{giftEdit.giftTitle}}" required>
        </div>
        <div class="form-group">
            <label for="details">详情</label>
            <textarea class="form-control" name="giftDetails" value="" required>{{giftEdit.giftDetails}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">保存</button>
    </form>
</div>